<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation University Suite" verbose="1" parallel="classes" thread-count="2">
    <test name="Testing Alerts and Popups">
        <classes>
            <class name= "alerts.AlertsTests">
                <methods>
                    <include name = "testJSAlert"/>
                    <include name = "testJSConfirm"/>
                </methods>
            </class>
            <class name= "alerts.FileUploadTests">
                <methods>
                    <include name = "testFileUpload"/>
                </methods>
            </class>
            <class name= "dropdown.DropdownTests">
                <methods>
                    <include name = "testDropdownSelectedOption"/>
                    <include name = "testDropdownMultiSelect"/>
                </methods>
            </class>
            <class name= "login.LoginTests">
                <methods>
                    <include name="testSuccessfulLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>